<h1>Visits#show</h1>
<p>Find me in app/views/visits/show.html.erb</p>

<p id="notice"><%= notice %></p>

<div class="center">

  <div class="info">
    <p><strong>Patient:</strong> <div class="visitDate"><%= @visit.patient.name %> </div> </p>

    <p><strong>Nurse:</strong> <div class="nurseName"> <%= @visit.nurse.name %> </div></p>
    <p><strong>Date:</strong> <div class="visitDate">  <%= @visit.date %> </div></p>

    <% if current_user.admin %>
      <p> <%= link_to 'Edit Visit', [:edit, @visit] %> </p>
      <a href="#" class="js-next" data-id="<%= @visit.id %>">Next...</a>
      <br>
    <% else %>

    <% end %>
    <%= link_to 'Back', visits_path,class: "btn btn-primary btn-light" %></p>
  </div>
</div>

<div class="nurseName"> <%= @visit.nurse.last_name+ " " + @visit.nurse.first_name%></div>
<a href="#" class="js-next" data-id="<%= @visit.id %>">Next...</a>

<h1 class="visitDate"> <%= @visit.date %></h1>
<p class="visitPatient"> <%= @visit.patient.last_name%> </p>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/visits/" + nextId + ".json", function(data) {
      $(".nurseName").text(data["nurse"]["name"]);
      $(".visitDate").text(data["date"]);
      $(".visitPatient").text(data["patient"]["name"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>