
<p id="notice"><%= notice %></p>

<div class="center">

  <div class="info">
    <p><strong>Name:</strong> <div class="nurseName"> <%= @nurse.name %> </div> </p>

    <p><strong >Total Number of Visits:</strong> <div class="nurseVisits"> <%= @nurse.visits.count %> </div></p>
    <p><strong >Total Number of Patients:</strong> <div class="nursePatients"><%= @nurse.patients.count %> </div></p>
    <p><strong>Role:</strong> <%= @nurse.role %></p>
    <% if current_user.admin %>
      <%= link_to 'Edit Nurse', [:edit, @nurse] %></p>
      <a href="#1" class="js-back" dataid="<%= @nurse.id %>">Back...</a>
      <a href="#" class="js-next" data-id="<%= @nurse.id %>">Next...</a>
      <br>
    <% else %>

    <% end %>
    <%= link_to 'Back', nurses_path,class: "btn btn-primary btn-light" %></p>
  </div>
</div>

<h1><%=@nurse.name%>'s Visits</h1>
<button class="js-more" data-id="<%= @nurse.id %>"> Show Visits...</button>
<div class="visits"></div>



